@import url(./section/header.css);
@import url(./section/preview.css);
@import url(./button.css);
@import url(./section/options.css);
@import url(./section/works.css);
@import url(./section/team.css);
@import url(./socials.css);
@import url(./section/reviews.css);
@import url(./section/download.css);
@import url(./section/footer.css);


body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  background-color: #fff;
  -webkit-font-smoothing: antialiased
}

*, *::before, *::after{
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

p{
  margin: 0 0 10px 0;
}
