.footer{
  background-color: #3a3e64;
  padding: 100px 0 80px;
}

.footer__content{
  display: flex;
  flex-wrap: wrap;
}

.footer__item{
 width: 33.3333%;
 justify-content: center;
}

.footer__item--title{
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__item--subtitle{
  color: #fff;
  opacity: 0.7;
  text-align: center;
  line-height: 1.8;
}

.footer__item--text{
  color: #fff;
  opacity: 0.7;
  text-align: center;
}

.socials--footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials--icon--footer:hover{
  border: 2px solid #fff;
}
