.header{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__content{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4e5066;
  padding: 37px 0;
  align-items: center;
}

.nav{
  display: flex;
}

.nav__link{
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.2s linear;
  margin-left: 50px;
}
.nav__link:first-child{
  margin-left: 0;
}
.nav__link:hover{
  opacity: 1;
}