.preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  background: #31344e url(../../img/ActivBox-intro-BG.jpg) center no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.preview__content{
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.preview__title{
  margin: 0;
  line-height: 1.1;
  font-family: 'OpenSans', sans-serif;
  font-weight: bold;
  font-size: 65px;
  color: #fff;
  text-transform: uppercase;
}

.preview__subtitle{
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 80px;
}



