.team{
  margin: 100px 0 70px;
}

.team__content{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item{
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team__img{
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.team__name{
  margin-bottom: 10px;
  font-size: 22px;
  color: #2d3033;
}

.team__prof{
  text-transform: uppercase;
  font-size: 13px;
  color: #e84545;
  margin-bottom: 25px;
}

.team__text{
  font-size: 14px;
  color: #6c7279;
  line-height: 1.7;
  margin-bottom: 20px;
}