.works{
  display: flex;
  flex-wrap: wrap;
}

.works__item{
  position: relative;
  width: 25%;
  height: 350px;
  overflow: hidden;
  border: 1px solid #fff;
}

.works__item:hover .works__desc{
  opacity: 1;
}

.works__img{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

.works__desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 46, 74, 0.9);
  opacity: 0;
  transition: opacity 0.2s linear;
}



.works__title{
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.works__text{
  font-size: 14px;
  color: #fff;
}